.how {
  &__title {
    margin-bottom: rem(40px);
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: rem(30px);

    @media (min-width: 800px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media (min-width: 940px) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @include breakpoint(desktop) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }

  &__item {
    padding: rem(30px);
    background-color: var(--cl-light-blue);
    transition: background-color var(--transition);
    cursor: pointer;

    @include breakpoint(desktop) {
      max-width: rem(270px);
      min-height: rem(393px);
    }

    &:hover {
      background-color: var(--cl-secondary-subtle);
    }

    &-icon {
      width: 60px;
      height: 60px;
    }

    &-title {
      margin: rem(10px) 0 rem(6px);
    }

    &-text {
      letter-spacing: rem(0.3px);
    }
  }
}
